*~

# coq files
*.vo
*.v.d
*.glob
*.dv
*.aux
coq/_CoqProject
coq/build.mk
coq/uninstall_me.sh
coq/html

ocaml/_build/*
ocaml/_tags
ocaml/setup.ml
ocaml/myocamlbuild.ml
ocaml/setup.data
ocaml/setup.log
ocaml/opam/*
ocaml/src/META
ocaml/src/*lib
ocaml/src/*pack
ocaml/Makefile
ocaml/configure
ocaml/src/Wrapper.ml
ocaml/_oasis
test/All_t.native

test/*.native
test/_build/*
test/coq_extracted/*
